<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompareTo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form id="upload-form" enctype="multipart/form-data" data-type="file-upload">
            <div class="hero">
                <label for="file-input" id="drop-area">
                    <input type="file" id="file-input" name="file" accept="image/*, .csv" required hidden>
                    <div id="file-view">
                        <img src="{{ url_for('static', filename='uploadorange.png') }}" alt="Upload Icon">
                        <p>Drag and drop or click here<br>to upload image or CSV</p>
                        <span>Upload files from desktop</span>
                    </div>
                </label>
            </div>
            <button type="submit">Go</button>
            <div id="loading-spinner" class="hidden">
                <div class="spinner"></div>
            </div>
        </form>
        <div id="results">
            <div id="comparison-text"></div>
            <div id="csv-text"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
